.vscode
.vs
.idea
__pycache__/

record*
*.egg-info
build
dist


hiqfermion/drivers/__pycache__/
hiqfermion/optimizers/_test.py
hiqfermion/optimizers/test.py
hiqfermion/utils/mapping_test.ipynb
hiqfermion/drivers/pyscf_calculator_sy

examples/F2_series.py
examples/NH3_series.py
examples/ucc_ccs.py
examples/ucc_cont_gates.py
examples/ucc_cont_para_reduced.py
examples/uccsd_LiH_optimizer.py
examples/uccsd_NH3_optimizer.py
examples/uccsd_NaH_optimizer.py
examples/uccsd_NaH_optimizer_gate_count.py
examples/uccsd_nogate_count.py
examples/uccsd_quantum_optimizer.py
examples/uccsd_quantum_optimizer_par.py
examples/uccsd_xxs.py
examples/reduce_mole_ham_test.py


